* {
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  font-weight: 400;
  
  background-image:url("./backgroundimage.png");
  background-repeat:no-repeat;
  background-size: cover;
  
}

.form-group 
{
  margin-top: 10px;
}

.btn-info 
{
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
}


.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
 
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:95%;
  max-width:800px;
  height:450px;
  z-index:2;
  
  padding:20px;
  box-sizing:border-box;
  
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}
 
.button11 {
  position:absolute;
  bottom:86%;
  left:80%;
  text-transform:uppercase;
  font-weight:600;
  }

  .button12 {
    position:absolute;
  
    bottom:92%;
    left:80%;
    text-transform:uppercase;
    font-weight:600;
    }



.out1{
  height:100%;
  max-width:100%;
  overflow: hidden;
}
.img1{
  filter:blur(2.5px);
  height:fill;
  width:1550px;
}
.out222{
  height:100%;
  max-width:100%;
  
}
.img12{
  filter:blur(2.5px);
  min-height: 100%;
  min-width: 1024px;
  
  
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position:fixed;
  top: 0;
  left: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4c1ef4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.Dashboard_Card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

  .out:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.out{
    position:absolute;
    background-color:#f5f5f5;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: 'Raleway',sans-serif;
  height:500px;
  width:500px;
  right:30%;
  left:30%;
  top:10%;
 
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom:20px;
  border-color: black;
  
  
}

.out3{
  position:absolute;
  background-color: white;
  
width:600px;
right:30%;
left:0%;
top:85%;
border-color: black;
padding-left: 20px;
padding-right:20px;
padding-top: 20px;
padding-bottom:20px;
}
.out4:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.out4{
  position:absolute;
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: 'Raleway',sans-serif;
  height:700px;
  width:600px;
  right:30%;
  left:30%;
  top:10%;
 
  padding-left: 60px;
  padding-right:50px;
  padding-top: 50px;
  padding-bottom:50px;
  border-color: black;
  bottom: 10%;
} 

.outabout{
  position:absolute;
    background-color:#f5f5f5;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: 'Raleway',sans-serif;
  height:auto;
  width:auto;
  right:20%;
  left:20%;
  top: 5%;
 
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom:20px;
  border-color: black;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}


.heading1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.contents
{
  position: relative;
  
  left:350px;
  top:70px;
  height:300px;
  width:600px;
}

.header2{
  position: relative;
  left:120px;
  width:900px;
  top:20px;
}

.header3{
  position: relative;
  left:-50px;
  width:900px;
  top:20px;
}

.App1{
  height: fit-content;
}



.starRating:not(.old) > input{
  margin-right : -100%;
  opacity      : 0;
}


.starRating:not(.old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(.old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

 

.starRating:not(.old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}
.dropdown {float: right; position: relative; display: inline-block; }
.dropdown-content {   
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position:absolute;}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {visibility: visible;
  opacity: 1;}

.dropdown:hover .dropbtn {background-color: #938bd6;}

#style-2::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ddd;
}

.starRating:not(.old) > label:hover:before,
.starRating:not(.old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}